/004/ProyectoStreaming/nbproject/private/
/004/ProyectoStreaming004/nbproject/private/
/004/ProyectoStreaming004/build/
/004/ProyectoStreaming004/dist/
/004/Sentencias004/nbproject/private/
/004/Sentencias004/build/
/004/ClaseString/nbproject/private/
/004/ClaseString/build/
/004/ClaseString/dist/
