/004/ProyectoStreaming/nbproject/private/
/004/ProyectoStreaming004/nbproject/private/
/004/ProyectoStreaming004/build/
/004/ProyectoStreaming004/dist/
/004/Sentencias004/nbproject/private/
/004/Sentencias004/build/
/004/ClaseString/nbproject/private/
/004/ClaseString/build/
/004/ClaseString/dist/
/004/Experiencia 3 y 4/Coleccion004/nbproject/private/
/004/Experiencia 3 y 4/Coleccion004/build/
/004/Experiencia 3 y 4/Coleccion004/dist/
/004/Experiencia 3 y 4/Scootin/nbproject/private/
/004/Experiencia 3 y 4/Scootin004/nbproject/private/
/004/Experiencia 3 y 4/Scootin004/build/
/004/Experiencia 3 y 4/Scootin004/dist/
/ListaReproduccion/nbproject/private/
/ListaReproduccion/build/
/ListaReproduccion/dist/
/Experiencia 3 y 4/ListaReproduccion/build/
/Experiencia 3 y 4/ListaReproduccion/dist/
/Experiencia 3 y 4/ListaReproduccion/nbproject/private/
/Experiencia 3 y 4/ListaReproduccion004/nbproject/private/
/Experiencia 3 y 4/ListaReproduccion004/build/
/Experiencia 3 y 4/ListaReproduccion004/dist/
/Experiencia 5 y 6/InterfazGrafica004/nbproject/private/
/Experiencia 5 y 6/InterfazGrafica004/build/
/Experiencia 5 y 6/InterfazGrafica004/dist/
